./.git/objects/90/c5365492dea3b3c855b2375f1de8588ac1bda4
./Prep/CNNpractice/data/cifar-10-python.tar.gz
./Prep/ViT/data/cifar-10-python.tar.gz
./Prep/CNNpractice/utils/__pycache__/
./Prep/NNPractice/model/nn-model.pth
./Prep/NNPractice/data/MNIST/
./Prep/NNPractice/.idea/
./Prep/CNNpractice/architecture/__pycache__/
./Prep/CNNpractice/.idea/
